.navbar {
  display: flex;
  background-color: gold;
}

.nav-list {
  display: flex;
}

.nav-list a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: black;
}

.nav-list a:hover {
  background-color: darkred;
}

.nav-btn {
  display: none;
}

@media (max-width: 1000px) {
  .nav-btn {
    font-size: 2em;
    padding-inline: 10px;
    padding-bottom: 3px;
    border: none;
    background-color: gold;
    color: black;
    display: block;
    cursor: pointer;
  }

  .nav-list {
    display: none;
  }

  .nav-btn:hover {
    background-color: darkred;
  }

  .drop:hover .nav-list {
    display: block;
    position: absolute;
    right: 0;
    background-color: gold;
  }

  .navbar {
    justify-content: space-between;
  }
}

