body {
  margin: 0;
  padding: 0;
}

.nav-top-container {
  display: flex;
  justify-content: space-between;
}

.nav-top-container>nav>ul>a>img {
  width: 50px;
}

.nav-top-container>nav>ul,
.nav-top-right {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-top-container>nav>ul>li>a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.nav-top-left>ul>li a:hover {
  background-color: rgb(9,169,109);
  color: white;
  border-radius: 15px;
}

.nav-top-left>ul>li,
.nav-top-right>ul>li{
  margin: 5px;
}

.nav-top-container {
  padding-top: 15px;
}

.nav-top-left>ul,
.nav-top-right>ul {
  padding-inline-start: 5px;
  margin-top: 0;
}

.upgrade-button {
  background-color: rgb(150,99,246);
  border-radius: 30px;
}

.upgrade-button a:hover {
  background-color: rgb(125,83,203);
  border-radius: 30px;
}

.certified-button {
  background-color: rgb(255,192,199);
  border-radius: 30px;
}

.certified-button a:hover {
  background-color: rgb(255,179,187);
  border-radius: 30px;
}

.create-web-button {
  background-color: rgb(255,243,164);
  border-radius: 30px;
}

.create-web-button a:hover {
  background-color: rgb(255,240,127);
  border-radius: 30px;
}

.sign-button {
  background-color: rgb(9,169,109);
  border-radius: 30px;
  margin-right: 0;
}

.sign-button a:hover {
  background-color: rgb(7,152,97);
  border-radius: 30px;
}

.log-button {
  background-color: rgb(217,237,225);
  border-radius: 30px;
  margin-left: 0;
}

.log-button a:hover {
  background-color: rgb(7,152,97);
  border-radius: 30px;
}