.my-learning {
  background-color: rgba(217,237,225,255);
}

.section-four h3 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: black;
  padding-top: 100px;
  padding-bottom: 10px;
  margin: 0;
}

.section-four p {
  padding-top: 30px;
  margin: 0;
  font-size: 21px;
  text-align: center;
}

.my-learning img {
  margin-left: 280px;
}

.my-learning {
  padding-bottom: 75px;
}

.pro-user {
  background-color: rgba(39,42,52,255);
  padding-bottom: 100px;
}

.pro-user p {
  padding-top: 30px;
  margin: 0;
  font-size: 23px;
  text-align: center;
  color: rgba(255,192,199,255);
  font-weight: bold;
}

.tick-list>ul>li {
  list-style: url("https://www.w3schools.com/spaces/files/check3.db67d31e.svg");
  color: white;
  font-size: 24px;
  padding-left: 10px;
  padding-bottom: 4px;
}

.tick-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.tick-list>ul>li>a {
  color: white;
}

.tick-list>ul>li a:hover {
  color: rgba(13,150,96,255);
}

.color-picker {
  background-color: rgba(243,236,234,255);
}

.color-picker>a>img {
  margin: 50px 0 0 640px;
  padding-bottom: 50px;
}

.code-game {
  background-color: rgba(150,212,212,255);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  padding-bottom: 75px;
}

.code-game-but {
  text-decoration: none;
  color: white;
  margin-left: 580px;
  background-color: rgba(39,42,52,255);
  padding: 15px 80px;
  border-radius: 30px;
  font-size: 20px;
}

.ex-and-quiz {
  background-color: rgba(39,42,52,255);
  padding-bottom: 75px;
  color: white;
}

.ex-and-quiz p {
  font-size: 21px;
  padding-top: 10px;
}

.ex-and-quiz>div>a {
  text-decoration: none;
  width: 600px;
  height: 100px;
  align-items: center;
  margin-top: 50px;
  margin-left: 60px;
  padding: 70px 0 0 0;
  border-radius: 5px;
  font-size: 23px
}

.lb-ex-and-q:hover {
  background-color: rgba(7,152,97,255);
}

.ybl-ex-and-q:hover {
  background-color: rgba(255,243,164,255);
}

.ex-and-quiz div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.web-templates {
  background-color: rgba(230,233,235,255);
  padding-bottom: 75px;
}

.web-templates p {
  padding-top: 15px;
}

.web-templates img {
  width: 65%;
  margin: 50px 0 50px 250px;
}

.kickstart {
  background-color: rgba(39,42,52,255);
  padding-bottom: 75px;
}

.kickstart h3 {
  color: rgba(255,192,199,255);
  text-align: left;
  margin-left: 80px;
}

.kickstart a {
  margin-left: 80px;
}

.howto-section img {
  width: 60%;
  margin: 30px 0 0 290px;
}

.howto-section a {
  padding: 15px 150px;
  margin-left: 513px;
}

.howto-section a:hover {
  background-color: rgba(7,152,97,255);
}